h1 {
  color: #ea9800;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  margin: 25px;
  font-size: 2.75rem;
}

body {
  margin: 0;
  font-family: "Press Start 2P script=all rev=1";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgba(65, 61, 108, 1) 0%,
    rgba(105, 98, 150, 1) 100%
  );
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 50px 25px 25px 25px;
}

input {
  border: 4px solid #888888;
  outline: none;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  font-family: "Press Start 2P script=all rev=1";
  text-align: center !important;
  color: #24305e;
  caret-color: #24305e;
}

footer {
  background-color: #f5c917;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#github-link {
  float: right;
  margin: 15px 15px;
  text-decoration: none;
  color: #24305e !important;
}
