<section id="settings-section">
  <label>
    Size:
    <input type="number" id="size" name="size" value="200" /> px
  </label>
  <br />
  <label> Gender: </label>
  <label class="checkbox-container sub-option"
    >Male
    <input type="checkbox" id="male" name="male" checked />
    <span class="checkmark"></span>
  </label>
  <label class="checkbox-container sub-option"
    >Female
    <input type="checkbox" id="female" name="female" checked />
    <span class="checkmark"></span>
  </label>

  <label class="checkbox-container" onclick="BackgroundCheckboxClick()">
    Background
    <input type="checkbox" id="background" name="background" checked />
    <span class="checkmark"></span>
  </label>

  <label class="checkbox-container sub-option"
    >Frame
    <input type="checkbox" id="frame" name="frame" checked />
    <span class="checkmark"></span>
  </label>

  <label class="checkbox-container sub-option"
    >Gradient
    <input type="checkbox" id="gradient" name="gradient" />
    <span class="checkmark"></span>
  </label>

  <label class="checkbox-container sub-option"
    >Vignette
    <input type="checkbox" id="vignette" name="vignette" />
    <span class="checkmark"></span>
  </label>
</section>
